@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize">Razor Pizza Shop</h1>
        <h2 class="mainSubtitle">pizza pizza munch munch ...</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-danger mt-3" asp-area="" asp-page="/CheckOut/ThankYou">bring me some pizza</a>
</div>
